.special_modal .modal-content {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(61, 52, 224) 0%,
    rgba(56, 55, 136, 0.30885857761073177) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  border-radius: 15px;
  border-color: whitesmoke;
}
/* .row {
  margin-left: 50px;
} */
h4 {
  color: #f25591;
}
@media screen and (max-width: 667px) {
  /* .app {
    width: 200%;
  } */
  /* .gradiant-bg {
    min-width: 100%;
  } */
  /* .row {
    margin-left: 150px;
  } */
  .table {
    color: rgb(89, 31, 197);
    width: 200%;
    margin: 0;
    padding: 0;
    overflow: none;
    background-color: coral;
  }
  table p {
    text-align: left;
  }
  table tr {
    font-size: 10px;
  }
  /* .table tr,
  td,
  th {
    justify-content: space-between;
  } */
  .special_modal .modal-content {
    max-width: 75%;
    align-items: center;
    position: relative;
    left: 60px;
  }
  body {
    background-color: #e7e7f1;
    overflow: none;
  }
}

.btn {
  margin: 5px;
  border-radius: 50px;
  color: rgb(245, 241, 241);
  border-color: rgb(245, 239, 239);
  background-color: #454dc0;
  transition: 1s;
  animation-name: move;
  animation-duration: 1s;
  /* animation-fill-mode: forwards; */
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500px);
  }
}
.btn:hover {
  background: rgba(248, 248, 250, 0.309);
  /* transform: rotate(360deg); */
  width: 200px;
}
.table {
  margin: auto;
  max-width: 90%;
  left: 20%;
  transition: 1s;
  /* transform: rotate(360deg); */
}
body {
  background-color: #e7e7f1;
  box-sizing: border-box;
  width: 100%;
}
.button {
  border-radius: 4px;
  background-color: #454dc0;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  width: 100px;
  height: auto;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
  float: right;
}
.button:hover {
  background: whitesmoke;
  color: black;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-top: 0px;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
