.special_modal .modal-content {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(61, 52, 224) 0%,
    rgba(56, 55, 136, 0.30885857761073177) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  border-radius: 15px;
  border-color: whitesmoke;
}
/* @media only screen and (width: 375px) and (height: 667) {
  .gradient-bg {
    width: 500px;
  }
  .table > tr {
    font-size: 20px;
  }
} */

.btn {
  margin: 5px;
  /* max-width: 500px;
  max-height: 80px; */
  border-radius: 50px;
  color: rgb(245, 241, 241);
  border-color: rgb(245, 239, 239);
  background-color: #454dc0;
  transition: 1s;
  animation-name: move;
  animation-duration: 1s;
  /* animation-fill-mode: forwards; */
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500px);
  }
}
.btn:hover {
  background: rgba(248, 248, 250, 0.309);
  /* transform: rotate(360deg); */
  width: 200px;
}
.table {
  margin: auto;
  max-width: 80%;
  left: 20%;
  transition: 1s;
  /* transform: rotate(360deg); */
}
body {
  background-color: #e7e7f1;
  box-sizing: border-box;
  width: 100%;
}

/* #detail-btn {
  color: black;
  border-color: black;
  border-radius: 50px;
  float: right;
  background-color: transparent;
}
#detail-btn:hover {
  background-color: rgba(74, 51, 175, 0.8);
} */
.button {
  border-radius: 4px;
  background-color: #454dc0;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  width: 100px;
  height: auto;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
  float: right;
}
.button:hover {
  background: whitesmoke;
  color: black;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-top: 0px;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
